<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://dazzlediva.in/bazaar/xmlrpc.php">

	<title>Page not found &#8211; bazaar locator</title>
<link rel='dns-prefetch' href='//s0.wp.com' />
<link rel='dns-prefetch' href='//s.gravatar.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="bazaar locator &raquo; Feed" href="http://dazzlediva.in/bazaar/feed/" />
<link rel="alternate" type="application/rss+xml" title="bazaar locator &raquo; Comments Feed" href="http://dazzlediva.in/bazaar/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/dazzlediva.in\/bazaar\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.2"}};
			!function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),!(j.toDataURL().length<3e3)&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,65039,8205,55356,57096),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57331,55356,57096),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55357,56425,55356,57341,8205,55357,56507),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55357,56425,55356,57341,55357,56507),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://dazzlediva.in/bazaar/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='responsiveslides-css'  href='http://dazzlediva.in/bazaar/wp-content/plugins/simple-responsive-slider/assets/css/responsiveslides.css?ver=4.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.6.4' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.6.4' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='wpjm-extended-location-css'  href='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-extended-location/assets/css/wp-job-manager-extended-location.css?ver=4.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='http://dazzlediva.in/bazaar/wp-includes/css/dashicons.min.css?ver=4.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='wc-paid-listings-packages-css'  href='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-wc-paid-listings/assets/css/packages.css?ver=4.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='listify-fonts-css'  href='//fonts.googleapis.com/css?family=Karla%3Aregular%2Citalic%2C700&#038;ver=4.7.2#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='listify-css'  href='http://dazzlediva.in/bazaar/wp-content/themes/listify/css/style.min.css?ver=20160811' type='text/css' media='all' />
<style id='listify-inline-css' type='text/css'>
#wpjmr-submit-ratings .star-rating .dashicons-star-filled,#wpjmr-list-reviews .star-rating .dashicons-star-filled,.stars-rating .dashicons.dashicons-star-filled,#wpjmr-submit-ratings .choose-rating .star:hover,#wpjmr-submit-ratings .choose-rating .star:hover ~ .star,#wpjmr-submit-ratings .choose-rating .star.active,#wpjmr-submit-ratings .choose-rating .star.active ~ .star{color:#2854a1;}.as-seen-on{background-color:;}html{background-color:#ffffff;}.nav-menu.tertiary li.is-active a:before,.nav-menu.tertiary li.current-menu-item a:before{border-bottom-color:#ffffff;}input,textarea,input[type=checkbox],input[type=radio],.site select,.facetwp-facet .facetwp-checkbox:before,.filter_by_tag a:before,.search-choice-close,.widget_layered_nav li a:before,.site-main .content-box select,.site-main .widget select,.site-main .job_listings select,.mfp-content select,body .chosen-container-single .chosen-single,body .chosen-container-multi .chosen-choices li.search-field input[type=text],.entry-content div.mce-toolbar-grp,.wp-editor-wrap,.select2-container .select2-choice,.facetwp-facet.facetwp-type-fselect .fs-label-wrap,body .chosen-container .chosen-drop,body .chosen-container-single .chosen-search input[type=text],body .chosen-container-single .chosen-search input[type=text]:focus{color:#717a8f;border-color:#e5e5e5;background-color:#ffffff;}input[type=checkbox]:checked:before,.facetwp-facet .facetwp-checkbox.checked:after,.facetwp-facet .facetwp-link.checked,.facetwp-facet.facetwp-type-fselect .fs-option{color:#717a8f;}.facetwp-facet.facetwp-type-fselect .fs-arrow{border-top-color:#717a8f;}input:focus,textarea:focus{background-color:#ffffff;}.listing-cover,.entry-cover,.homepage-cover.page-cover,.list-cover{background-color:#f5f5f5;}body,.listify_widget_panel_listing_tags .tag,.entry-cover.no-image,.entry-cover.no-image a,.listing-cover.no-image,.listing-cover.no-image a:not(.button),.widget a,.content-pagination .page-numbers,.facetwp-pager .facetwp-page,.type-job_listing.style-list .job_listing-entry-header,.type-job_listing.style-list .job_listing-entry-header a,.js-toggle-area-trigger,.job-dashboard-actions a,body.fixed-map .site-footer,body.fixed-map .site-footer a,.homepage-cover .job_search_form .select:after,.tabbed-listings-tabs a,.archive-job_listing-toggle,.job-manager-form fieldset.fieldset-job_hours,.no-image .ion-ios-star:before,.no-image .ion-ios-star-half:before,.select2-default,.select2-container .select2-choice,.select2-container-multi .select2-choices .select2-search-choice,.filter_by_tag a,a.upload-images,a.upload-images span,.nav-menu .sub-menu.category-list a,.woocommerce-tabs .tabs a,.job-manager-bookmark-actions a,.star-rating-wrapper a:hover ~ a:before,.star-rating-wrapper a:hover:before,.star-rating-wrapper a.active ~ a:before,.star-rating-wrapper a.active:before,.cluster-overlay a,.map-marker-info,.map-marker-info a,.archive-job_listing-layout.button.active,.entry-title--grid a,.entry-read-more,.listing-by-term-title a,.type-job_listing.style-list .wp-job-manager-bookmarks-form .bookmark-notice:before{color:#717a8f;}.comment-meta a,.commentlist a.comment-ago,div:not(.no-image) .star-rating:before,div:not(.no-image) .stars span a:before,.job_listing-author-descriptor,.entry-meta,.entry-meta a,.home-widget-description,.listings-by-term-content .job_listing-rating-count,.listings-by-term-more a,.search-form .search-submit:before,.mfp-content .mfp-close:before,div:not(.job-package-price) .woocommerce .amount,.woocommerce .quantity,.showing_jobs,.account-sign-in,.archive-job_listing-layout.button{color:#949db2;}.social-profiles a,.listing-gallery-nav .slick-dots li button:before{background-color:#949db2;}a,.listify_widget_panel_listing_content a{color:#2854a1;}a:active,a:hover,.primary-header .current-account-toggle .sub-menu a{color:#0f3b88;}.search-overlay,.primary-header{background-color:#2854a1;}.primary.nav-menu .current-cart .current-cart-count{border-color:#2854a1;}.nav-menu a,.nav-menu li:before,.nav-menu li:after,.nav-menu a:before,.nav-menu a:after,.nav-menu ul a,.nav-menu.primary ul ul a,.nav-menu.primary ul ul li:before,.nav-menu.primary ul ul li:after{color:#2854a1;}.search-overlay a.search-overlay-toggle{color:#ffffff;}.main-navigation{background-color:#ffffff;}.navigation-bar-toggle,.search-overlay-toggle{color:#717a8f;}.tertiary-navigation{background-color:#ffffff;}.tertiary-navigation .navigation-bar-toggle{color:#717a8f;}.listify_widget_panel_listing_tags .tag.active:before,.job-package-includes li:before,.woocommerce-tabs .tabs .active a,body:not(.facetwp) .locate-me:before,.woocommerce .quantity input[type="button"]{color:#2854a1;}input[type="button"].facetwp-reset:hover,input[type="button"].facetwp-reset:focus,.tabbed-listings-tabs a:hover,.tabbed-listings-tabs a.active,.archive-job_listing-toggle.active,body:not(.facetwp) .locate-me:hover:before{color:#05317e;}button:not([role="presentation"]),input[type="button"],input[type="reset"],input[type="submit"],.button,.facetwp-type-slider .noUi-connect,.ui-slider .ui-slider-range,.listing-owner,.comment-rating,.job_listing-rating-average,.map-marker.active:after,.cluster,.widget_calendar tbody a,.job_listing-author-info-more a:first-child,.load_more_jobs,.listify-badge,.listing-featured-badge{background-color:#2854a1;}button:not([role="presentation"]):hover,button:not([role="presentation"]):focus,input[type="button"]:hover,input[type="button"]:focus,input[type="reset"]:hover,input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,.button:hover,.button:focus,::selection,.load_more_jobs:hover,.update_results.refreshing{background-color:#234f9c;}::-moz-selection{background-color:#234f9c;}.tabbed-listings-tabs a:hover,.tabbed-listings-tabs a.active,.archive-job_listing-toggle.active,li.job-package:hover,.job_listing_packages ul.job_packages li:hover,.facetwp-type-slider .noUi-horizontal .noUi-handle,.ui-slider .ui-slider-handle,.woocommerce-message,.job-manager-message,.woocommerce-info{border-color:#2854a1;}.listing-featured--outline .job_listing-entry-header:before{box-shadow:inset 0 0 0 3px #2854a1;}.widget_layered_nav li.chosen a:after,.widget_layered_nav li.chosen a,.ion-ios-star:before,.ion-ios-star-half:before,.upload-images:hover .upload-area,.comment-author .rating-stars .ion-ios-star,.job_listing_packages ul.job_packages li label,.upload-images:hover,.search-choice-close:after,.claimed-ribbon span:before,.filter_by_tag a.active:after,.woocommerce-tabs .tabs .active a{color:#2854a1;}.button-secondary,input[type="button"].facetwp-reset,.job_listing-author-info-more a:last-child,.type-product .onsale,.type-product .price ins,.job-package-tag{background-color:#2854a1;}.button-secondary:hover,.button-secondary:focus,input[type="button"].facetwp-reset:hover,input[type="button"].facetwp-reset:focus{background-color:#234f9c;}.upload-images:hover{border-color:#2854a1;}.site-footer-widgets{color:#ffffff;background-color:#2854a1;}.footer-widget,.footer-widget a,.footer-widget a:hover,.site-social a:hover{color:#ffffff;}.site-footer,.site-social a{color:#a1b5d6;}.site-footer{background-color:#22498e;}.content-box,.content-shop-wrapper .archive-job_listing-filters-wrapper.top.type-product,.content-shop-wrapper .type-product,.home-feature,.job-package,.job_filters,.listify_widget_search_listings.home-widget .archive-job_listing-filters-wrapper.top.job_search_form,.listify_widget_search_listings.home-widget .job_search_form,.listing-by-term-inner,.single-job_listing-description,.tabbed-listings-tabs a,.tabbed-listings-tabs a.archive-job_listing-filters-wrapper.top,.type-product .thumbnails a,.type-product .thumbnails a.archive-job_listing-filters-wrapper.top,.widget,.woocommerce div.product div.archive-job_listing-filters-wrapper.top.summary,.woocommerce div.product div.summary,.woocommerce-main-image,.woocommerce-page div.product div.archive-job_listing-filters-wrapper.top.summary,.woocommerce-page div.product div.summary, .woocommerce-tabs,.archive-job_listing-layout.button,.nav-menu .children.category-list .category-count,.nav-menu .sub-menu.category-list .category-count,ul.nav-menu .children.category-list .category-count,ul.nav-menu .sub-menu.category-list .category-count,.facetwp-pager .facetwp-page,.job-manager-pagination li a,.job-manager-pagination li span,.js-toggle-area-trigger,.site .facetwp-sort select,a.page-numbers, span.page-numbers,.archive-job_listing-toggle-inner{background-color:#ffffff;box-shadow:inset 0 0 0 1px #e5e5e5;border:0;}.comment-reply-title,.entry-content .rcp_form .rcp_subscription_fieldset .rcp_subscription_message,.entry-content .rcp_header,.entry-content h2,.entry-content h3,.entry-content h4,.job-manager-form h2,.job_listing_packages ul.job_packages .package-section,.listify_widget_panel_listing_content h2,.listify_widget_panel_listing_content h3,.listify_widget_panel_listing_content h4,.listing-by-term-title,.widget-title,.woocommerce-account .woocommerce legend,.woocommerce-tabs .tabs a,.account-sign-in,.job-manager-form fieldset.fieldset-job_hours,.ninja-forms-required-items,.showing_jobs,.summary .stock,.woocommerce-tabs .woocommerce-noreviews,.payment_methods li .payment_box,button.more-filters__toggle,button.more-filters__toggle:hover{border-color:#f4f4f4;}.ui-slider,.ui-slider-range,.payment_methods li{background-color:#f4f4f4;}.listing-entry-company-image--card .listing-entry-company-image__img{border-color:#ffffff;}button.more-filters__toggle,button.more-filters__toggle:hover,button.more-filters__toggle:focus{color:#717a8f;border-color:#efefef;background-color:#ffffff;}button.more-filters__toggle:hover,button.more-filters__toggle:focus{border-color:#e5e5e5;}:not(.wp-core-ui) button,body,input,select,textarea{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;}.page-title,.job_listing-title,.popup-title,.homepage-cover .home-widget-title{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:bold;}.widget-title,.comment-reply-title{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;}.home-widget-title,.callout-feature-content h2,home-feature-title h2{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;}.home-widget-description{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;}button:not([role="presentation"]),input[type="button"],input[type="reset"],input[type="submit"],.button{font-family:"Karla","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;}.map-marker:after{border-top-color:#555555;}.map-marker i:after{background-color:#555555;}.map-marker i:before{color:#555555;}.woocommerce .quantity input[type="button"]{color:#2854a1;}.woocommerce-message,.job-manager-message{border-color:#2854a1;}.type-product .onsale,.type-product .price ins,.job-package-tag{background-color:#2854a1;}.woocommerce-tabs .tabs .active a{color:#2854a1;}
@media screen and (min-width: 768px){.nav-menu.secondary .sub-menu.category-list{background-color:#ffffff;}}
@media screen and (min-width: 992px){.nav-menu.primary ul ul a:hover{color:#0f3b88;}.nav-menu.primary a,.nav-menu.primary li:before,.nav-menu.primary li:after,.nav-menu.primary a:before,.nav-menu.primary a:after{color:#ffffff;}.nav-menu.secondary > li > a,.nav-menu.secondary > li > a:before,.nav-menu.secondary > li > a:after,.nav-menu.secondary > li:before,.nav-menu.secondary > li:after{color:#717a8f;}.nav-menu.secondary ul ul a:hover{color:#586176;}.nav-menu .children.category-list .container:before,.nav-menu .sub-menu.category-list .container:before,ul.nav-menu .children.category-list .container:before,ul.nav-menu .sub-menu.category-list .container:before{border-top-color:#ffffff;}.nav-menu.tertiary > ul > li > a,.nav-menu.tertiary > li > a,.nav-menu.tertiary > li > a:before,.nav-menu.tertiary > li > a:after,.nav-menu.tertiary > li:before,.nav-menu.tertiary > li:after{color:#717a8f;}.nav-menu.tertiary ul ul a:hover{color:#586176;}.primary.nav-menu .current-cart .current-cart-count{color:#ffffff;background-color:#2854a1;border-color:#2854a1;}:not(.wp-core-ui) button,body,input,select,textarea{font-size:14px;line-height:normal;}.page-title,.job_listing-title,.popup-title,.homepage-cover .home-widget-title{font-size:32px;line-height:normal;}.homepage-cover .home-widget-title{font-size:48px;}.widget-title,.comment-reply-title{font-size:16px;line-height:1;}.home-widget-title{font-size:30px;line-height:normal;}.home-widget-description{font-size:16px;line-height:normal;}button:not([role="presentation"]),input[type="button"],input[type="reset"],input[type="submit"],.button{font-size:15px;line-height:normal;}}
</style>
<link rel='stylesheet' id='listify-child-css'  href='http://dazzlediva.in/bazaar/wp-content/themes/listify-child/style.css?ver=4.7.2' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css'  href='http://dazzlediva.in/bazaar/wp-content/plugins/jetpack/css/jetpack.css?ver=4.3.1' type='text/css' media='all' />
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/simple-responsive-slider/assets/js/responsiveslides.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?libraries=geometry,places&#038;language=en&#038;key=AIzaSyBlTkv6LuyMrwN3wtIM8tbWx6x4pcz1_0w&#038;region=in'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-extended-location/assets/js/geo-tag-text.js?ver=2.1.0'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-extended-location/assets/js/mapify.js?ver=2.1.0'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-reviews/assets/js/wp-job-manager-reviews.js?ver=4.7.2'></script>
<link rel='https://api.w.org/' href='http://dazzlediva.in/bazaar/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://dazzlediva.in/bazaar/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://dazzlediva.in/bazaar/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.7.2" />
<meta name="generator" content="WooCommerce 2.6.4" />
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(function() {
			$(".rslides").responsiveSlides({
			  auto: true,             // Boolean: Animate automatically, true or false
			  speed: 500,            // Integer: Speed of the transition, in milliseconds
			  timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
			  pager: true,           // Boolean: Show pager, true or false
			  nav: true,             // Boolean: Show navigation, true or false
			  random: false,          // Boolean: Randomize the order of the slides, true or false
			  pause: false,           // Boolean: Pause on hover, true or false
			  pauseControls: false,    // Boolean: Pause when hovering controls, true or false
			  prevText: "Back",   // String: Text for the "previous" button
			  nextText: "Next",       // String: Text for the "next" button
			  maxwidth: "820",           // Integer: Max-width of the slideshow, in pixels
			  navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
			  manualControls: "",     // Selector: Declare custom pager navigation
			  namespace: "rslides",   // String: Change the default namespace used
			  before: function(){},   // Function: Before callback
			  after: function(){}     // Function: After callback
			});
		});
	 });
	</script>
	<style type="text/css">dd ul.bulleted {  float:none;clear:both; }</style>
<link rel='dns-prefetch' href='//v0.wordpress.com'>
<style type='text/css'>img#wpstats{display:none}</style>
<style type="text/css"></style>

<style type="text/css">
.synved-social-resolution-single {
display: inline-block;
}
.synved-social-resolution-normal {
display: inline-block;
}
.synved-social-resolution-hidef {
display: none;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx),
only screen and (min-resolution: 192dpi) {
	.synved-social-resolution-normal {
	display: none;
	}
	.synved-social-resolution-hidef {
	display: inline-block;
	}
}
</style>
<style type="text/css">.site-title a, .site-description { color: #ffffff}</style><link rel="icon" href="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/cropped-cropped-logo-32x32.png" sizes="32x32" />
<link rel="icon" href="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/cropped-cropped-logo-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/cropped-cropped-logo-180x180.png" />
<meta name="msapplication-TileImage" content="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/cropped-cropped-logo-270x270.png" />

<style id="custom-css-css">.nxt{display:inline-block !important}</style>
</head>

<body class="error404 directory-fields color-scheme-default footer-dark listify-shared-by-themes24x7-com listify-shared-by-themes24x7-com-161 wp-job-manager wp-job-manager-bookmarks wp-job-manager-wc-paid-listings wp-job-manager-tags wp-job-manager-field-editor wp-job-manager-reviews woocommerce jetpack ratings listify-child-theme wp-job-manager-categories-enabled wp-job-manager-categories-only">
  <!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
    <div class="step1 stage">
    	<div class="col1 coll">
    		<p>I am a*</p>
    		<p><input type="radio" name="type" class="user_type" value="custom_user" checked />User <input type="radio" name="type" value="retailer" class="user_type" />Retailer <input type="radio" name="type" class="user_type" value="wholeseller" />Wholeseller <input type="radio" name="type" class="user_type" value="manufacturer" />Manufacturer</p>
    		<p class="rollover">Rollover to see who are user/retailer or wholeseller</p>
    	</div>
    	<div class="col2">
    		<p>1/6</p><br/>
    		<p class="nxtprev"> <span class="nxt"> > </span> </p>
    	</div>
    </div>
    <div class="step2 stage" style="display: none;">
    	<div class="col1 coll">
    		<p>Enter your Mobile number*</p>
    		<p>+91<input type="phone" name="phone" autocomplete="off" id="phone" class="commonclass" value="" /></p>
    	</div>
    	<div class="col2">
    		<p>2/6</p><br/>
    		<p class="nxtprev"> <span class="prv"> < </span><span class="nxt sendotp" style="display:none;"> > </span> </p>
    	</div>
    </div>
    <div class="step3 stage" style="display: none;">
    	<div class="col1 coll">
    		<p>Please enter the verification code*</p>
    		<p><input type="text" name="vcode" id="vcode" value=""  class="commonclass" /></p>
    		<div class="resend">
    			<a class="resendcode" href="#">Resend code</a><span style="display:none;" class="otpsent">otp is sent successfully.</span>
    			<span class="codeloader"><img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/09/ajax-loader-1.gif" /></span><input type="button" id="submitcode" value="Submit" />
    		</div>
    	</div>
    	<div class="col2">
    		<p>3/6</p><br/>
    		<p class="nxtprev"> <span class="prv otpsuces"> < </span><span style="display:none;" class="nxt otpnxt"> > </span> </p>

    	</div>
    </div>
    <div class="step4 stage" style="display: none;">
    	<div class="col1 coll">
    		<p>Enter your name*</p>
    		<p><input type="text" name="fname" id="fname" class="commonclass" placeholder="first name" value="" /> <input type="text" name="lname" id="lname" class="commonclass" placeholder="last name" value="" /></p>
    	</div>
    	<div class="col2">
    		<p>4/6</p><br/>
    		<p class="nxtprev"> <span style="display:none;" class="prv"> < </span><span style="display:none;" class="nxt yoname"> > </span> </p>
    	</div>
    </div>
    <div class="step5 stage" style="display: none;">
    	<div class="col1 coll">
    		<p>Enter your Email ID*</p>
    		<p><input type="email" name="email" id="email" autocomplete="off" class="commonclass" value="" /></p>
    	</div>
    	<div class="col2">
    		<p>5/6</p><br/>
    		<p class="nxtprev"> <span class="prv"> < </span><span style="display:none;" class="nxt yomail"> > </span> </p>
    	</div>
    </div>
    <div class="step6 stage" style="display: none;">
    	<div class="col1 coll">
    		<p>Create password*</p>
    		<p><input type="password" name="pass" id="pass" autocomplete="off" class="commonclass" value="" /></p>
    	</div>
    	<div class="col2">
    		<p>6/6</p><br/>
    		<p class="nxtprev"> <span class="prv"> < </span><span style="display:none;" class="nxt complete_reg yopass"> > </span><span class="registerloader"><img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/09/ajax-loader-1.gif" /></span> </p>
    	</div>
    </div>
    <div class="successbox" style="display: none;">
    	<div class="col1 coll">
    		<p class="cong">Congratulations!</p>
    		<p class="nare">Now, you are part of Bazaar locator family.</p>
    		<div class="needhelp">
    			<a href="http://dazzlediva.in/bazaar">
    			<img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/help.jpg">
    			<br/>
    			<p>Need help</p>
    			</a>
    		</div>
    		<div class="needhome">
    			<a href="http://dazzlediva.in/bazaar">
    			<img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/13.Bazaar-Locator-company-Sign-up-congrats-1.jpg">
    			<br/>
    			<p>Home</p>
    			</a>
    		</div>
    	</div>
    	<div class="col2">
    		<p></p><br/>
    		<p class="nxtprev">  </p>
    	</div>
    </div>
    <div class="login_step" style="display: none;">
    	<div class="login_col coll">
    		<p>Login using: <input type="radio" name="login" value="phone" class="login" checked />Mobile No. <input type="radio" name="login" value="email" class="login" />Email ID</p>
    		<p><input class="login_common" type="phone" id="login_phone" placeholder="Enter Mobile No." /> <input class="login_common" style="display:none;" type="email" id="login_email" placeholder="Enter Email ID" />  <input type="password" name="pass" id="login_pass" class="login_common" placeholder="Enter password" /></p>
    		<div class="sbmt_wrap">
    			<div class="forgot_signup">
    				<a href="http://dazzlediva.in/bazaar/my-account/lost-password/">Forgot password?</a> | <a class="sign_upp" href="javascript:void(0);">Sign up</a>
    			</div>
    			<div class="logindiv"><img style="height: 25px; padding-right: 3px; margin-top: -15px; display: none;" src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/09/ajax-loader-1.gif" /><input type="submit" value="Submit" id="login_btn" /></div>
    		</div>
    	</div>
    </div>
  </div>

</div>
<script>
jQuery(document).ready(function(){
	var modal = document.getElementById('myModal');
	var span = document.getElementsByClassName("close")[0];
	jQuery("#menu-item-849 a").click(function(event){
		event.preventDefault();
		modal.style.display = "block";
		jQuery(".stage").hide();
        jQuery('.sendotp').hide();
		jQuery(".successbox").hide();
		jQuery(".login_step").show();
	});
	jQuery("#menu-item-850 a").click(function(event){
		event.preventDefault();
		jQuery('.login_step').hide();
		jQuery(".successbox").hide();
        jQuery(".stage").hide();
        jQuery('.sendotp').hide();
        jQuery('.stage').find('input[type=text],input[type=phone]').val('');
		modal.style.display = "block";
		jQuery('.step1').show();
	});
	jQuery(".sign_upp").click(function(event){
		event.preventDefault();
		jQuery('.login_step').hide();
		jQuery('.step1').show();
	});
	jQuery('.login').change(function(){
		if(this.value == 'email')
		{
			jQuery('#login_phone').hide();
			jQuery('#login_email').show();
		}
		else
		{
			jQuery('#login_phone').show();
			jQuery('#login_email').hide();
		}
	});
	jQuery(".close").click(function(){
        if(jQuery('.login_step').is(':visible'))
        {
            modal.style.display = "none";
        }
        else
        {
            modal.style.display = "none";
            location.reload();
        }
        
	});
	jQuery(window).click(function(event){
        if(jQuery('.login_step').is(':visible'))
        {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        else
        {
            if (event.target == modal) {
                modal.style.display = "none";
                location.reload();
            }
        }
	});
	jQuery('.nxt').click(function(){
		if(jQuery(this).hasClass("complete_reg"))
		{
			var utype = jQuery(".user_type:checked").val();
			var phone = jQuery("#phone").val();
			var fname = jQuery("#fname").val();
			var lname = jQuery("#lname").val();
			var email = jQuery("#email").val();
			 var pass = jQuery("#pass").val();
			 if(utype != "" && phone != "" && fname != "" && lname != "" && email != "" && pass != "")
			 {
                jQuery('.registerloader').show();
			 	jQuery.ajax
	            ({
	                type: 'POST',
	                /////////get website url:
	                url: 'http://dazzlediva.in/bazaar/wp-admin/admin-ajax.php',
	                data:
	                {
	                    action: 'signup_ajax_request',
	                    utype: utype,
	                    phone: phone,
	                    fname: fname,
	                    lname: lname,
	                    email: email,
	                    pass: pass
	                },
	                success: function(data, textStatus, XMLHttpRequest)
	                {   
                        jQuery('.registerloader').hide();
	                    if(data == 'ok')
	                    {
	                    	jQuery('.successbox').show();
	                    	jQuery('.stage').hide();
                            setTimeout(function(){
                                window.location = "http://dazzlediva.in/bazaar/my-account/";
                            }, 3000);
	                    }
	                    else
	                    {
	                    	alert("Your Email or Phone number is already registered.");
	                    }
	                },
	                error: function(MLHttpRequest, textStatus, errorThrown)
	                {
	                }
	            });
			 }
			 else
			 {
			 	alert('Please fill the form correctly.');
			 }
		}
		else
		{
			jQuery(this).parents('.stage').hide();
			jQuery(this).parents('.stage').next('.stage').show();
		}
	});
	jQuery('.prv').click(function(){
		jQuery(this).parents('.stage').hide();
		jQuery(this).parents('.stage').prev('.stage').show();
	});
	jQuery('#login_btn').click(function(){
		if(jQuery('#login_phone').is(':visible'))
		{
			var login = jQuery('#login_phone').val();
		}
		if(jQuery('#login_email').is(':visible'))
		{
			var login = jQuery('#login_email').val();
		}
		var login_pass = jQuery('#login_pass').val();
		if(login == '' && login_pass == '')
		{
			alert('Please fill the required fields.');
		}
		else
		{
			jQuery('.logindiv img').show();
			jQuery.ajax
	            ({
	                type: 'POST',
	                /////////get website url:
	                url: 'http://dazzlediva.in/bazaar/wp-admin/admin-ajax.php',
	                data:
	                {
	                    action: 'login_ajax_request',
	                    login: login,
	                    login_pass: login_pass
	                },
	                success: function(data, textStatus, XMLHttpRequest)
	                {   
	                	jQuery('.logindiv img').hide();
	                    var da = JSON.parse(data);
	                    if(da.phone_msg == 'no_phone')
	                    {
	                    	alert('Please enter correct phone number or password.');
	                    }
	                    if(da.phone_msg == 'yes_phone')
	                    {
	                    	window.location = "http://dazzlediva.in/bazaar/my-account/";
	                    }
	                    if(da.email_msg == 'no_email')
	                    {
	                    	alert('Please enter correct Email ID.');
	                    }
	                    if(da.email_msg == 'yes_email')
	                    {
	                    	window.location = "http://dazzlediva.in/bazaar/my-account/";
	                    }
	                },
	                error: function(MLHttpRequest, textStatus, errorThrown)
	                {
	                }
	            });
		}

	});

  	jQuery('.sendotp').click(function(){
  		var phone = jQuery('#phone').val();
  		if(phone != '' && isNaN(phone) == false)
  		{
  			jQuery.ajax
            ({
                type: 'POST',
                /////////get website url:
                url: 'http://dazzlediva.in/bazaar/wp-admin/admin-ajax.php',
                context: this,
                data:
                {
                    action: 'sendotp',
                    phone: phone
                },
                success: function(data, textStatus, XMLHttpRequest)
                {   
                	console.log(data);
                },
                error: function(MLHttpRequest, textStatus, errorThrown)
                {
                }
            });
  		}
  	});
  	jQuery('.resendcode').click(function(){
  		var phone = jQuery('#phone').val();
  		if(phone != '' && isNaN(phone) == false)
  		{
  			jQuery.ajax
            ({
                type: 'POST',
                /////////get website url:
                url: 'http://dazzlediva.in/bazaar/wp-admin/admin-ajax.php',
                context: this,
                data:
                {
                    action: 'sendotp',
                    phone: phone
                },
                success: function(data, textStatus, XMLHttpRequest)
                {   
                	console.log(data);
                	jQuery(this).next('.otpsent').show();
                },
                error: function(MLHttpRequest, textStatus, errorThrown)
                {
                }
            });
  		}
  	});
  	jQuery('#submitcode').click(function(){
  		var vcode = jQuery('#vcode').val();
  		if(vcode != '' && isNaN(vcode) == false)
  		{
            jQuery('.codeloader').show();
  			jQuery.ajax
            ({
                type: 'POST',
                url: 'http://dazzlediva.in/bazaar/wp-admin/admin-ajax.php',
                context: this,
                data:
                {
                    action: 'check_otp',
                    vcode: vcode
                },
                success: function(data, textStatus, XMLHttpRequest)
                {
                    jQuery('.codeloader').hide();
                	if(data == 'valid')
                	{
                        jQuery('#vcode').val('');
                        jQuery('.resendcode').hide();
                		jQuery('.otpsent').text("verification is success, please go to next step.");
                		jQuery('.otpsent').css("color","green");
                		jQuery('.otpnxt').show();
                		jQuery('.otpsent').show();
                        jQuery('.otpsuces').hide();
                        jQuery(this).hide();
                        jQuery('#vcode').hide();
                	}   
                	else
                	{
                        jQuery('#vcode').val('');
                		jQuery('.otpsent').css("color","red");
                		jQuery('.otpsent').text("otp is not correct.");
                		jQuery('.otpsent').show();
                	}
                },
                error: function(MLHttpRequest, textStatus, errorThrown)
                {
                }
            });
  		}
  	});
    jQuery('#phone').keyup(function(){
        var num = jQuery(this).val();
        if(isNaN(num) == false && num.length == 10)
        {
            jQuery('.sendotp').show();
        }
        else
        {
            jQuery('.sendotp').hide();
        }
    });
    jQuery('#fname').keyup(function(){
        var fnme = jQuery('#fname').val();
        var lnme = jQuery('#lname').val();
        if(lnme != '' && fnme != '')
        {
            jQuery('.yoname').show();
        }
        else
        {
            jQuery('.yoname').hide();
        }
    });
    jQuery('#lname').keyup(function(){
        var lnme = jQuery('#lname').val();
        var fnme = jQuery('#fname').val();
        if(fnme != '' && lnme != '')
        {
            jQuery('.yoname').show();
        }
        else
        {
            jQuery('.yoname').hide();
        }
    });
    jQuery("#email").on("input", function(){
        var email = jQuery("#email").val();
        var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (filter.test(email)) {
          jQuery('.yomail').css("display","inline-block");
        }
        else
        {
          jQuery('.yomail').hide();
        }
    });
    jQuery('#pass').keyup(function(){
        var mypass = jQuery(this).val();
        if(mypass != '')
        {
            jQuery('.yopass').show();
        }
        else
        {
            jQuery('.yopass').hide();
        }
    });
});
</script><div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<div class="primary-header">
			<div class="container">
				<div class="primary-header-inner">
					<div class="socialicons"><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-facebook nolightbox" data-provider="facebook" target="_blank" rel="nofollow" title="Follow us on Facebook" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="Facebook" title="Follow us on Facebook" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/facebook.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-twitter nolightbox" data-provider="twitter" target="_blank" rel="nofollow" title="Follow us on Twitter" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="twitter" title="Follow us on Twitter" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/twitter.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-google_plus nolightbox" data-provider="google_plus" target="_blank" rel="nofollow" title="Follow us on Google+" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="google_plus" title="Follow us on Google+" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/google_plus.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-instagram nolightbox" data-provider="instagram" target="_blank" rel="nofollow" title="Check out our instagram feed" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;"><img alt="instagram" title="Check out our instagram feed" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/instagram.png" /></a></div>
					<div class="site-branding">
																			<a href="http://dazzlediva.in/bazaar/" title="bazaar locator" rel="home" class="custom-header"><img src="http://inspironsoft.in/bazaar/wp-content/uploads/2016/08/cropped-logo.png" alt=""></a>
						
					</div>

					<div class="primary nav-menu">
						<div class="nav-menu-container"><ul id="menu-need-help-menu" class="menu"><li id="menu-item-849" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-849"><a href="#">Sign In</a></li>
<li id="menu-item-850" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-850"><a href="#">Register</a></li>
</ul></div>					</div>
				</div>

				<div id="search-header" class="search-overlay">
					<div class="container">
						
<form role="search" method="get" class="search-form" action="http://dazzlediva.in/bazaar/listings/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" placeholder="Search" value="" name="search_keywords" title="Search for:" />
	</label>
	<button type="submit" class="search-submit"></button>
</form>
						<a href="#search-header" data-toggle="#search-header" class="ion-close search-overlay-toggle"></a>
					</div>
				</div>
			</div>
		</div>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<div class="container">
				<a href="#" class="navigation-bar-toggle">
					<i class="ion-navicon-round"></i>
					Need Help Menu				</a>

				<div class="navigation-bar-wrapper">
					<div class="primary nav-menu"><ul id="menu-need-help-menu-1" class="primary nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-849"><a href="#">Sign In</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-850"><a href="#">Register</a></li>
</ul></div>				</div>

							</div>
		</nav><!-- #site-navigation -->
	</header><!-- #masthead -->

	
	<div id="content" class="site-content">

	<div class="page-cover no-image">
		<div class="cover-wrapper">
			<h1 class="page-title">Oops! That page can&rsquo;t be found.</h1>
		</div>
	</div>

	<div id="primary" class="container">
		<div class="row content-area">

			<main id="main" class="site-main col-md-10 col-md-offset-1 col-xs-12" role="main">

				
<article id="post-0" class="hentry content-box content-box-wrapper no-results not-found">
	<div class="content-box-inner">
		
			<p>It seems we can&rsquo;t find what you&rsquo;re looking for. Perhaps searching can help.</p>
			
<form role="search" method="get" class="search-form" action="http://dazzlediva.in/bazaar/">
	<label>
		<span class="screen-reader-text">Search for:</span>
		<input type="search" class="search-field" placeholder="Search" value=""
		name="s" title="Search for:" />
	</label>
	<button type="submit" class="search-submit"></button>
</form>

			</div>
</article><!-- #post-## -->
			</main>

		</div>
	</div>


	</div><!-- #content -->

	<div class="footer-wrapper">

		
			
			
			
		
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="container">
				<div class="footermenu">
					<div class="futmenu nav-menu"><ul id="menu-secondary" class="futmenu nav-menu"><li id="menu-item-1091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1091"><a href="http://dazzlediva.in/bazaar/about-us/">About Us</a></li>
<li id="menu-item-1108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1108"><a href="http://dazzlediva.in/bazaar/contact-us/">Contact Us</a></li>
<li id="menu-item-1096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096"><a href="http://dazzlediva.in/bazaar/advertise/">Advertise</a></li>
<li id="menu-item-1107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107"><a href="http://dazzlediva.in/bazaar/career/">Career</a></li>
<li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105"><a href="http://dazzlediva.in/bazaar/testimonials/">Testimonials</a></li>
<li id="menu-item-1106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1106"><a href="http://dazzlediva.in/bazaar/feedback/">Feedback</a></li>
</ul></div>				</div>
				<div class="futsocial">
					<a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-facebook nolightbox" data-provider="facebook" target="_blank" rel="nofollow" title="Follow us on Facebook" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="Facebook" title="Follow us on Facebook" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/facebook.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-twitter nolightbox" data-provider="twitter" target="_blank" rel="nofollow" title="Follow us on Twitter" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="twitter" title="Follow us on Twitter" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/twitter.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-google_plus nolightbox" data-provider="google_plus" target="_blank" rel="nofollow" title="Follow us on Google+" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;margin-right:5px;"><img alt="google_plus" title="Follow us on Google+" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/google_plus.png" /></a><a class="synved-social-button synved-social-button-follow synved-social-size-48 synved-social-resolution-single synved-social-provider-instagram nolightbox" data-provider="instagram" target="_blank" rel="nofollow" title="Check out our instagram feed" href="#" style="font-size: 0px; width:48px;height:48px;margin:0;margin-bottom:5px;"><img alt="instagram" title="Check out our instagram feed" class="synved-share-image synved-social-image synved-social-image-follow" width="48" height="48" style="display: inline; width:48px;height:48px; margin: 0; padding: 0; border: none; box-shadow: none;" src="http://dazzlediva.in/bazaar/wp-content/plugins/social-media-feather/synved-social/image/social/regular/96x96/instagram.png" /></a>				</div>

			</div>
		</footer><!-- #colophon -->
		<div class="citylist"><a href="http://dazzlediva.in/bazaar/listing_location/ahmedabad">Ahmedabad</a> / <a href="http://dazzlediva.in/bazaar/listing_location/bangalore">Bangalore</a> / <a href="http://dazzlediva.in/bazaar/listing_location/chandigarh">Chandigarh</a> / <a href="http://dazzlediva.in/bazaar/listing_location/chennai">Chenai</a> / <a href="http://dazzlediva.in/bazaar/listing_location/coimbatore">Coimbatore</a> / <a href="http://dazzlediva.in/bazaar/listing_location/delhi">Delhi</a> / <a href="http://dazzlediva.in/bazaar/listing_location/goa">Goa</a> / <a href="http://dazzlediva.in/bazaar/listing_location/hyderabad">Hyderabad</a> / <a href="http://dazzlediva.in/bazaar/listing_location/indore">Indore</a> / <a href="http://dazzlediva.in/bazaar/listing_location/jaipur">Jaipur</a> / <a href="http://dazzlediva.in/bazaar/listing_location/kolkata">Kolkata</a> / <a href="http://dazzlediva.in/bazaar/listing_location/mumbai">Mumbai</a> / <a href="http://dazzlediva.in/bazaar/listing_location/mysore">Mysore</a> / <a href="http://dazzlediva.in/bazaar/listing_location/nagpur">Nagpur</a> / <a href="http://dazzlediva.in/bazaar/listing_location/nashik">Nashik</a> / <a href="http://dazzlediva.in/bazaar/listing_location/pune">pune</a> / <a href="http://dazzlediva.in/bazaar/listing_location/surat">Surat</a> / <a href="http://dazzlediva.in/bazaar/listing_location/vadodara">Vadodara</a></div>
		<div class="futapp">
			<a href="https://play.google.com/store/apps/details?id=com.bazaarlocator.bazaarlocator"><img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/gfut.png"></a>
			<br>
			<a href="#"><img src="http://dazzlediva.in/bazaar/wp-content/uploads/2016/08/ifut.png"></a>	
		</div>
		<div class="site-info">
			Copyrights 2008-2016. All Rights Reserved. <a href="">Privacy</a> | <a href="http://dazzlediva.in/bazaar/terms-of-service/">Terms</a>		
		</div>
	</div>

</div><!-- #page -->

<div id="ajax-response"></div>
<link rel="stylesheet" type="text/css" href="http://dazzlediva.in/bazaar/wp-content/themes/listify-child/mycss/mobile.css">
	<div style="display:none">
	</div>
<script id="tmpl-pinTemplate" type="text/template">
	<div class="map-marker marker-color-{{{ data.term }}} type-{{{ data.term }}} {{{ data.featured }}}"><i class="{{{ data.icon }}}"></i></div>
</script>
<script id="tmpl-infoBubbleTemplate" type="text/template">
	<a href="{{{ data.link }}}">
		<# if ( typeof( data.thumb ) != 'undefined') { #>
		<span style="background-image: url({{{ data.thumb }}})" class="list-cover has-image"></span>
		<# } #>

		<# if ( typeof( data.title ) != 'undefined') { #>
		<h1>{{{ data.title }}}</h1>
		<# } #>

		<# if ( typeof( data.rating ) != 'undefined') { #>
		<span class="rating stars-{{{ data.rating }}}">
			{{{ data.rating }}}	
		</span> 
		<# } #>

		<# if ( typeof( data.address ) != 'undefined') { #>
		<span class="address">{{{ data.address }}}</span>
		<# } #>
	</a>
</script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/user-meta-display/assets/js/scripts-user_meta_display.js?ver=1.2.2'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/dazzlediva.in\/bazaar\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}},"sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.5.1'></script>
<script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201708'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/bazaar\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bazaar\/wp-content\/themes\/listify-child\/mycss\/mobile.css?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/dazzlediva.in\/bazaar\/checkout\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.6.4'></script>
<script type='text/javascript' src='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/bazaar\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bazaar\/wp-content\/themes\/listify-child\/mycss\/mobile.css?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.6.4'></script>
<script type='text/javascript' src='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/bazaar\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/bazaar\/wp-content\/themes\/listify-child\/mycss\/mobile.css?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//dazzlediva.in/bazaar/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.6.4'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpjmel = {"start_point":"Delhi, India","start_geo_lat":"28.7040592","start_geo_long":"77.10249019999992","enable_map":"1","map_elements":"#job_location, #setting-wpjmel_map_start_location","user_location":null,"file_path":"http:\/\/dazzlediva.in\/bazaar\/wp-content\/plugins\/wp-job-manager-extended-location\/.\/assets","list_geo_lat":"","list_geo_long":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/wp-job-manager-extended-location/assets/js/wp-job-manager-extended-location.js?ver=2.1.0'></script>
<script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2017Febaa'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var WPGroHo = {"my_hash":""};
/* ]]> */
</script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.7.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var listifySettings = {"ajaxurl":"http:\/\/dazzlediva.in\/bazaar\/wp-admin\/admin-ajax.php","homeurl":"http:\/\/dazzlediva.in\/bazaar\/","archiveurl":"http:\/\/dazzlediva.in\/bazaar\/listings\/","is_job_manager_archive":"","is_rtl":"","megamenu":{"taxonomy":"none"},"l10n":{"closed":"Closed","timeFormat":"g:i a","magnific":{"tClose":"Close","tLoading":"Loading...","tError":"The content could not be loaded."}}};
var listifyListingGallery = {"canUpload":"","gallery_title":"Add Images to Gallery","gallery_button":"Add to gallery","delete_image":"Delete image","default_title":"Upload","default_button":"Select this"};
/* ]]> */
</script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/themes/listify/js/app.min.js?ver=20160622'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/themes/listify/js/vendor/salvattore.min.js?ver=4.7.2'></script>
<!--[if lt IE 11]>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/themes/listify/js/vendor/salvattore.min.js?ver=4.7.2'></script>
<![endif]-->
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-content/themes/listify/inc/integrations/wp-job-manager-bookmarks/js/wp-job-manager-bookmarks.min.js?ver=1.1.3'></script>
<script type='text/javascript' src='http://dazzlediva.in/bazaar/wp-includes/js/wp-embed.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://stats.wp.com/e-201708.js' async defer></script>
<script type='text/javascript'>
	_stq = window._stq || [];
	_stq.push([ 'view', {v:'ext',j:'1:4.3.1',blog:'116874928',post:'0',tz:'5.5',srv:'dazzlediva.in'} ]);
	_stq.push([ 'clickTrackerInit', '116874928', '0' ]);
</script>

</body>
</html>
